@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:ital,wght@1,400;1,500&family=Outfit:wght@100;200;400;600&family=Roboto&display=swap');

* {
    font-family: 'Inter', sans-serif;

}

h1 {
    font-weight: 600;

}

h2 {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 3.2em;
    margin-bottom: 1.1em;
}

h3 {
    font-weight: 500;
    font-size: 1.1em;
}

h4 {
    font-size: 1.1em;
    font-weight: 600;

}




.svgicon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    background-color: rgba(218, 217, 217, 0.548);
    margin: 10px;
    position: relative;
    top: 0;
}

.purple {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(116, 78, 255);
    position: absolute;
    bottom: 35px;
    right: 5px;

}


.bellicon {
    color: rgba(12, 12, 12, 0.322)
}



.naviconuser {
    width: 50px;
    height: 50px;
    border-radius: 50%;


}


.imgicon {
    position: relative;
    top: 0;
}

.green {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(38, 175, 38);
    position: absolute;
    top: 35px;
    left: 35px;

}

header {
    background-color: #754ffe;
}

.bg-green {
    background-color: #19cb98;
}

.aside-dropdown{
    left: -200%;
}
/* Section */


.svg-span {
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 40px;
}

.save-icon {
    background-color: #fff;
    color: #afafaf;
}

.save-icon:hover {
    fill: #afafaf;
    /* transition: fill 0, 8s ease-in; */
    cursor: pointer;
    transition-delay: 2s;
}

.hover-sizing{
transition-duration: 0.65s;
transition-delay: 0.1s;

z-index: 1;
}
.hover-sizing:hover {
    -webkit-box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.77); 
box-shadow: 4px 4px 15px 3px rgba(0,0,0,0.77) !important; 
    transform: scale(1.13);
    
    
  
    
}



.arrow-left {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(0 0 0 / 0.1);
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
}

.arrow-right {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(0 0 0 / 0.1);
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
}

.card {
    height: 100%;
}

.stars {
    color: gold;
}

/* footer */

footer a {
    color: inherit;
    cursor: pointer;
}